/* Overrides del sidebar para el rol Empresa */
.sidebar .avatar {
    background-color: #dc3545;
}

.sidebar nav a.activo {
    background-color: #dc3545;
    border-left-color: #ffdd57;
    color: white;
}
