.sidebar .avatar {
    background-color: #28a745;
}

.sidebar nav a.activo {
    background-color: #28a745;
    color: white;
    border-left-color: #ffdd57;
}

@media (max-width: 768px) {
    .sidebar nav a.activo {
        border-left-color: transparent;
        border-bottom-color: #ffdd57;
    }
}
